//@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap&text=0123456789');
@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Josefin Sans Regular'), local('JosefinSans-Regular'), url(../fonts/josefin.woff2) format('woff2');
}

.card-ship {
    cursor: pointer;
    transition: box-shadow 0.2s ease;
    box-shadow: 0 0 0 0 #000;
    &:hover, &.card-ship-active {
        box-shadow: 0 0 8px 0 rgba(0,0,0,0.75);
    }
}

.card-ship-counter {
    font-family: "Josefin Sans", Helvetica Neue, Arial, sans-serif;
    font-size: 4rem;
    position: absolute;
    bottom: 0;
    right: 0.6rem;
    line-height: 1;
    color: $gray-200;
    text-shadow: 0 0 4px rgba(30, 30, 30, 1);
}

.app-header .navbar-brand {
    position: static;
    left: unset;
    margin-left: 0;
}

.modal-header {
    align-items: center;
}

.sidebar .orga-item-menu .nav-link,
.sidebar-minimized .sidebar .nav-item:hover > .nav-link {
    background-repeat: no-repeat;
    background-size: 30px;
    background-position-y: 10px;
    background-position-x: 10px;

    .nav-icon {
        content: "";
        height: 18px;
    }
}
